#PopUp_Message_Container {
  width: 55%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  color: rgb(54, 54, 54);
  visibility: hidden;
  transition-duration: 200ms;
  position: absolute;
  top: 0px;
}
#PopUp_Message {
  font-size: 20px;
  font-family: var(--font_Family-);
}
